canvas{
    border: 1px solid black;
}
#ApplicationCodePage{
    display: table table-row;
}
#LeftSection,#RightSection{
    display: table-cell;
}
#savebuttondiv{
    text-align: right;
}
#LocalStorageList{
    border-spacing:0px;
    border:2px solid green;
    border-radius:5px;
}
th{
    background-color:#0f0;
}
th td{
    border:2px solid green;
}
